{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-page">
        <div class="register-box">
            <h1 class="text-center text-bold">Change password</h1><br>
            <div class="card">
                <div class="card-body register-card-body">
                    {{ include('flash.html.twig') }}
                    {% if error.message is defined %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endif %}
                    {{ form_start(changePasswordForm) }}
                    <div class="form-group">
                        {{ form_widget(changePasswordForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(changePasswordForm.oldPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(changePasswordForm.newPassword) }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-8 text-right">
                            <a href="/login" class="btn btn-warning">Back to login</a>
                        </div>
                    </div>
                    {{ form_end(changePasswordForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}