{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-page">
        <div class="login-box">
            <h1 class="text-center text-bold">Login</h1><br>
            <div class="card">
                <div class="card-body login-card-body">
                    {{ include('flash.html.twig') }}
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" value="{{ last_username }}" name="email" class="form-control" required placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" required placeholder="Password">
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="col-8 text-right">
                                <a href="{{ path('app_register') }}" class="btn btn-warning">Register</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
