{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-page">
        <div class="register-box">
            <h1 class="text-center text-bold">Register</h1><br>
            <div class="card">
                <div class="card-body register-card-body">
                    {% if error.message is defined %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endif %}
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_widget(registrationForm.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registrationForm.surname) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(registrationForm.birthDate) }}
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="col-8 text-right">
                            <a href="{{ path('app_login') }}" class="btn btn-warning">Back to login</a>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}