{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-2">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 10px">ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_start(importForm, {'action': path('app_import')}) }}
            <button type="submit" class="btn btn-success"><i class="fas fa-upload"></i></button>
            {{ form_widget(importForm.importFile) }}<br>
        {{ form_end(importForm) }}
    </div>
{% endblock %}