<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            <div class="p-2">
                <div class="float-right text-right">
                    <i class="fas fa-user"></i> {{ app.user.username }}
                    <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i></a>
                </div>
                <div class="clearfix p-2"></div>
                {{ include('flash.html.twig') }}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
