{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}